$main-brown: #2d1e1f;
$main-yellow: #ff9e09;
$main-grey: #ece8dc;
$main-white: #fff;
$main-dark: #222;

body {
  background: $main-white;
  color: $main-dark;
  font-family: Verdana, Geneva, Tahoma, sans-serif !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Courier New", Courier, moonspace !important;
  letter-spacing: 0.25rem !important;
}

.text-yellow {
  color: $main-yellow;
}

.cart-icon {
  cursor: pointer;
  color: $main-yellow;
  font-size: 2rem;
}

.default-background,
.about-background {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 1 !important;
  background: linear-gradient(rgba(255,158,9,0.5), rgba(255,158,9,0.5));
  background-position: center;
  background-size: cover;
}

.about-background {
  min-height: 60vh;
}

.btn-yellow {
  color: $main-yellow !important;
  border-color: $main-yellow !important;
}

.btn-yellow:hover {
  background: $main-yellow;
  color: $main-brown !important;
}

.footer {
  background-color: $main-brown;
}
